/* components/ChatBox/ChatBox.module.css */

.chatBox {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  max-width: 100%;
  position: relative;
}

.messages {
  max-height: 80vh;
  overflow-y: auto;
  margin-bottom: 10px;
  color: black;
}

.message {
  margin-bottom: 5px;
}

.inputBox {
  display: flex;
}

.inputBox input {
  color: black;
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.inputBox button {
  padding: 10px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

/* Overlay style */
.overlay {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  width: 50vw;
  height: 50vh;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
